{% extends "wszystko.html" %}

{% block tresc %}
    <h3>Logowanie</h3><br />
    <form action="{% url "logowanie" %}" method="POST">
            {% csrf_token %}
            <label for="login">login</label>
            <input type="text" name="login" />
            <br />
            <label for="haslo">hasło</label>
            <input type="password" name="haslo" />
            <br />
            <input type="submit" value="OK" />
    </form>
{% endblock %}