{% extends "wszystko.html" %}

{% block tresc %}
    <h3>Dodawanie posta</h3><br/>
    <form method="POST" action="{% url "nowy_wpis" %}">
        {% csrf_token %}
        <fieldset>
            <label for="tytul">tytuł</label>
            <input type="text" name="tytul" style="width: 340px" />
            <br />
            <label for="tekst">tekst</label>
            <textarea name="tekst" cols="40" rows="20"></textarea>
            <br />
            <input type="submit" value="OK" />
        </fieldset>
    </form>
{% endblock %}