{% extends "wszystko.html" %}

{% block tresc %}
    <h2>Wszystkie najnowsze wpisy</h2>
    {% for wpis in wpisy %}
        <h3>{{ wpis.title }}</h3>
        <p>{{ wpis.pub_date }} autor: przez <a href="{% url "posty_uzytkownika" wpis.user.id %}">{{ wpis.user.username }}</a></p><br />
        <div>{{ wpis.text }}</div>
        <br />
    {% endfor %}
{% endblock %}