<html>
<head>
    <meta charset="utf-8" />
    <title>Grupa 8</title>
    <style>
        * {
            padding: 0;
            margin: 0;
        }

        a {

            color: #91C8BF;

        }

        a:hover {
            color: #91C8BF;
        }


        body {
            background: #E4E8EB;
            font-family: Calibri, Segoe UI, Arial, Tahoma, sans-serif;,
        }

        #menu {
            list-style-type: none;
            background: #D1AB86;
            border-bottom: 5px solid #9FB3B1;
        }

        #menu li {
            float: left;
            padding-right: 10px;
        }

        #menu li a {
            color: #fff;
        }

        body h1 {
            color: #91C8BF;
            font-size: 28px;
            padding: 10px 0;
            width: 100%;
            border-bottom: 1px solid gainsboro;
        }

        #container {
            width: 980px;
            margin: 0 auto;
            padding: 10px;
            border-radius: 5px;
        }

        #menu {
            padding: 10px 0;
            height: 20px;
            padding-left: 10px;
        }


        .header {
            color: #3A3A53;

        }

        .message {
            background: #F9F9E0;
            color: #1b1b1b;
            padding: 10px 15px;
            border-radius: 3px;
            margin-bottom: 10px;
        }

        body h2 {
            margin: 20px 0;
        }

        body h3 {
            font-size: 22px;
            display: block;
            width: 100%;
            border-left: 5px solid #DBA660;
            padding-left: 10px;
            margin-bottom: 10px;
        }

        body p {
            font-size: 12px;

        }

        form input {
            paddding: 3px;
            margin: 3px;
        }

        form input[type='submit'] {
            padding: 5px;
            margin-top: 10px;
        }
    </style>
</head>
<body>
    <div id="container">
        <h1 class="header">Blog grupy 8</h1>
        <div>
            <ul id="menu">
                <li><a href="{% url "wszystkie_posty" %}">Strona główna</a></li>
                <li><a href="{% url "logowanie" %}">Logowanie</a></li>
                <li><a href="{% url "nowy_wpis" %}">Nowy post</a></li>
                <li><a href="{% url "wylogowanie" %}">Wyloguj się</a></li>
            </ul>
        </div>
        <br />
        {% if message %}<div class="message">{{ message }}</div>{% endif %}
        {% block tresc %}
        {% endblock %}
    </div>
</body>
</html>